#menu{
  display: none;
}
@media screen and (max-width: 768px) {
  header{
    position: relative;
  }
  .nav{
     z-index: 10;
     width: 95%;
     height: 220px;
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translateY(-225px);
    transform: translateY(-225px);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  #menu{
    display: block;
    position: absolute;
    width: 50px;
    fill:#f5a623;
    top: 0;
    right: 0;
  }
  .nav__list{
    display: block;
  }
  .nav__item{
    display: list-item;
    width: 100%;
    margin: auto;
    margin-right: 5%;
    background:#f5a623;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 10px;
  }
  .nav__item a{
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #fff;
    padding: 5px;

  }
  .title__experience, .title__diplome{
    font-size: 14px;
    font-weight: 400;
    color: #f5a623;
  }
  .date__experience, .lieu__diplome{
    color: #999;
    font-size: 14px;
    font-weight: bolder;
  }
  footer p{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    padding: 5px;
  }
  form{
    width: 90%;
    margin: auto;
  }
  input, textarea{
    width: 100%;
  }
  .about{
    margin-bottom: 20px;
  }

}
@media screen and (min-width: 768px) {
  .projects{
    justify-content: flex-start;
    margin: 0 auto;;
    padding: 0
  }
  .project{
    width: 48%;
    margin-bottom: 10px;
    margin-right: 13px;
    padding: 0;
  }
  .experiences, .diplomes{
    width: 80%;
    margin: 15px auto;
  }
  form{
    width: 70%;
    margin: auto;
  }
  input, textarea{
    width: 100%;
  }
  .title__experience, .title__diplome{
    font-size: 16px;
  }
  .date__experience, .lieu__diplome{
    font-size: 16px;
  }

}

@media screen and (min-width: 1023px) {
  .projects{
    justify-content: flex-start;;
    margin: 0 auto;;
    padding: 0
  }
  .project{
    width: 30%;
    margin-bottom: 10px;
    /*margin-right: 20px;*/
    padding: 0;
  }
  .project:nth-child(1), .project:nth-child(4){
    margin-left: 40px;
  }
  .main__parcours{
    display: flex;
  }
  .experiences{
    width: 65%;
    margin: 15px auto;
    border-right: 2px solid #f2a623;
    margin-right: 10px;
  }
  .diplomes{
    width: 60%
  }
  .contact{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
  }
  .form{
    width: 50%;
  }
  .about{
    width: 50%;
  }

}
